{% extends "base.html" %}
{%block title %} Hospitals {%endblock%}

{% block content %}

<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% for category, message in messages %}
            <h5 class="{{category}}">{{message}}</h5>
        {% endfor %}
    {% endwith%}

    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <!-- Left Side Form Section -->
            <div class="col-md-11 border-end border-secondary-subtle">
                <!-- Heading -->
                <div class="row">
                    <h4>HOSPITAL PROFILE</h4>
                </div>
                <hr>
                <!-- 1st part 1 rows -->
                <div class="row">
                    <!-- 1st row left side 3 columns -->
                    <div class="col-6 col-md-6">
                        <div class="row mb-2">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text" id="hospitalCode">Hospital Code*</span>
                                    <input type="text" class="form-control" placeholder="Hospital Code" 
                                            name="hospital_code" value="{{hospital.hospital_code or ''}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text" id="registrationNo">Registration No*</span>
                                    <input type="text" class="form-control" placeholder="Registration No"
                                        name="registration_no" value="{{hospital.registration_no or ''}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text" id="hospital_name">Hospital Name*</span>
                                    <input type="text" class="form-control" placeholder="Hospital Name"
                                        name="hospital_name" value="{{hospital.hospital_name or ''}}" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1st row middle column for layout -->
                    <div class="col-1 col-md-1"></div>

                    <!-- 1st row right side photo columns-->
                    <div class="col-2 col-md-2">
                        <div class="row preview-container text-center">
                            <div class="col">
                                <!-- File Input Below Preview -->
                                <div class="input-group input-group-sm w-100">
                                    <input type="file" class="form-control form-control-sm" id="hospital_logo" name="hospital_logo"
                                        accept="image/*" onchange="previewImage(this, 'photoPreview')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 col-md-2">
                        <!-- Photo Preview Box -->
                        <div class="photo-box border rounded" id="photo-box" style="height: 130px; width: 130px;">
                            <img id="photoPreview" src="#" alt="Hospital Logo"
                                class="img-fluid h-100 w-100 object-fit">
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 2nd Part 1 Rows -->
                <div class="row">
                    <div class="row mb-2">
                        <div class="col input-group">
                            <span class="input-group-text" id="Website">Website</span>
                            <input type="text" class="form-control" placeholder="Website Name" name="website" value="{{hospital.website or ''}}">
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text" id="Email">Email ID</span>
                            <input type="email" class="form-control" placeholder="Enter your Email ID" name="email" value="{{hospital.email or ''}}" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col input-group">
                            <span class="input-group-text" id="PhoneNo">Phone Number*</span>
                            <input type="text" class="form-control" placeholder="Enter Number" name="phoneno" value="{{hospital.phoneno or ''}}" required>
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text" id="gstin">GSTIN*</span>
                            <input type="text" class="form-control" placeholder="GSTIN Number" name="gstin" value="{{hospital.gstin or ''}}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <span class="input-group-text" id="pan">PAN*</span>
                                <input type="text" class="form-control" placeholder="PAN Number" name="pan" value="{{hospital.pan or ''}}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 3rd Part 2 Rows - Address Details -->
                <div class="row">
                    <div class="row">
                        <h5>Address</h5>
                    </div>
                    <div class="row mb-2">
                        <div class="col input-group">
                            <span class="input-group-text" id="Address">Address</span>
                            <textarea class="form-control" placeholder="Enter Address" name="address" rows="2">{{hospital.address or ''}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col input-group">
                            <span class="input-group-text" id="country">Country</span>
                            <select class="form-select" aria-label="country" name="country" required>
                                <option value="">Select Country</option>
                                <option value="India" 
                                    {% if country == 'India' %}selected{% endif %}>
                                    India
                                </option>
                            </select>
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text" id="Pincode">Pincode*</span>
                            <input type="text" class="form-control" placeholder="Enter Pincode" name="pincode" value="{{hospital.pincode or ''}}"
                                id="pincode" maxlength="6" pattern="\d{6}"
                                onkeydown="if(event.key==='Enter'||event.key==='Tab'){getPincodeDetails();}" required>
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text" id="City">City</span>
                            <input type="text" class="form-control" placeholder="City" name="city" id="city" readonly
                                value="{{hospital.city or ''}}" required>
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text" id="State">State</span>
                            <input type="text" class="form-control" placeholder="State" name="state" id="state" readonly
                                value="{{hospital.state or ''}}" required>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right side Form Buttons Section-->
            <div class="col-md-1">
                <div class="row position-fixed" style="width: 150px; margin-top: 50px;">
                    <div class="col">
                        <div class="d-flex flex-column align-items-end">
                            <button type="submit" class="btn btn-success w-100 mb-2">
                                {% if edit_mode%}
                                    Update
                                {%else%}
                                    Save
                                {%endif%}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}