<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {%endblock%}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #dcf0ff;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                | <i class="fa-solid fa-hospital"></i> | 
                        <span class="navbar-brand m-0 h1">
                            <i>e-Hospital</i>
                        </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto navbar-nav-scroll">
                    <!-- Add some text -->
                </ul>
                <ul class="navbar-nav navbar-nav-scroll d-flex" style="--bs-scroll-height: 100px; margin-right: 20px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button"
                            style="color: rgb(0, 0, 0);" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-circle-user" style="font-size: 23px;"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                            <li><span class="dropdown-item">Welcome {{username}}</span></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- SideBar Block -->
    {% include 'sidebar.html' %}

    <!-- Main Block -->
    <div class="main-content">
        {% block content %} {% endblock %}
    </div>
    <!-- End of Main Block -->

    <!-- footer code -->
    <!-- <nav class="navbar fixed-bottom navbar-dark bg-dark" style="height: 30px; padding: 0;">
        <div class="container-fluid justify-content-center">
            <span class="navbar-brand" style="font-size: 15px;"><b>Copyright @2026: Developed By Harshit
                    Upraity</b></span>
        </div>
    </nav> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/sidebar.js')}}"></script>
</body>

</html>